.artigo-bg {
    background-color: rgb(213, 225, 225);
}

.artigo-conteudo {
    display: flex;
    gap: 46px;
    justify-content: center;
    flex-wrap: wrap;
   

}

.artigo-conteudo img {
    
}

.bikes{
    width: 300px;
    max-width: 200%;
    height: auto;
}