
*{
    box-sizing: border-box;
}


.artigo-bg {
    background-color: rgb(243, 86, 86);
    min-height: 500px;



}


.artigo-conteudo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 46px;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    

}

.bikes {
    width: 100%;
    max-width: 600px;
    object-fit: cover;
    align-items: center;
    margin: 10px;
    border-radius: 5px;
    display: block;
    /*max-height: 650px;*/

}



h2 {
padding-left: 100px;
}




@media(max-width:800px){
    .artigo-conteudo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 26px;
    justify-content: center;
    align-items: center;
    min-height: 500px;

}

.artigo-bg {
    background-color: rgb(112, 243, 86);
    min-height: 500px;


}

.bikes {
    width: 100%;
    max-width: 400px;
    object-fit: cover;
    align-items: center;
    border-radius: 5px;
    display: block;
    /*max-height: 650px;*/
    margin: 10px;

}
h2 {
padding-left: 100px;
margin: 20px;
}
}