.botao {
    color: var(--cor-p5);

    text-decoration: none;

    background-color: var(--cor-p1);

    color: var(--cor-p5);

    padding: 20.5px;

    display: inline-block;
    /*para que pegue o padding corretamente*/

    border-radius: 5px;

    font: 600 1.125rem/1.35 'poppins', sans-serif;

    text-transform: uppercase;


}

@media(max-width: 600px) {

    .botao {
        padding: 12px 16px;
        font-size: 1rem;
        font-weight: bold;
        background-color:var(--cor-p1);
    }


}